@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

.home {
  position: relative;
}

.content_wrapper {
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0%;
  width: 100%;
  height: auto;
}
.info_header {
  width: 100%;
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #1f1f34 !important;
  /* background-color: red; */
}

.info_header ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_header ul li {
  list-style: none;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 0;
  transition: all 0.3s;
}
.main_img_cont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: ceter;
}
.img_and_description_and_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_planet_img {
  margin: 60px 0;
  width: 30%;
}
.surface {
  position: absolute;
  width: 15%;
  top: 55%;
}
.name_and_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 15px;
}
.name {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.description {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* or 200% */
  text-align: center;
  color: #ffffff;
}
.source {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.source_title {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 5px;
}

.source_link {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 208% */
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  display: flex;
  align-items: center;
  text-align: center;
}
.source_link img {
  margin-left: 3px;
}
.detail_info_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 20px;
}
.info {
  width: 100%;
  height: 48px;
  mix-blend-mode: normal;
  border: 1px solid #363636;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 15px;
}
.info p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 200% */
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  color: #ffffff !important;
  opacity: 0.5;
}
.info span {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #ffffff !important;
}
.desktop_details_menu {
  display: none;
}

@media screen and (min-width: 700px) {
  .home {
  }

  .surface {
    position: absolute;
    width: 35%;
    top: 55%;
  }

  .source {
    justify-content: left;
    width: 100%;
  }
  .name_and_description {
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 0;
  }
  .name,
  .description {
    width: 100%;
    text-align: left;
    justify-content: left;
  }
  .info_header {
    display: none;
  }
  .detail_info_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
  .info {
    width: 164px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .info p {
    align-items: left;
    justify-content: left;
    align-items: left;
    margin: 5px 0;
  }
  .name_description_source_details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 30px;
  }

  .name_description_source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .desktop_details_menu {
    display: block;
    width: 40%;
  }
  .desktop_details_menu li {
    list-style: none;
    width: 100%;
    height: 48px;
    border: 1px solid #3c365e;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
    margin-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
  }
  .desktop_details_menu li:hover {
    background-color: #1c2334 !important;
  }
  .desktop_details_menu li span {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .info {
    width: 255px;
    height: 128px;
  }
  .description {
    font-size: 16px;
    margin-top: 10px;
  }
  .name_description_source_details {
    display: flex;
    flex-direction: row;
  }
  .img_and_description_and_details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
  }
  .main_img_cont {
    width: 30%;
    display: flex;
    justify-content: right;
    margin-left: 100px;
  }
  .main_planet_img {
    width: 100%;
  }
  .name_description_source_details {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background-color: red; */
  }
  .desktop_details_menu {
    width: 80%;
  }
  .name_description_source {
    width: 80%;
  }
}
